<template>
  <div>
    <div v-if="statusType !== 'expired'">
      <div class="idleTime">
        <h2>Mohon menunggu, sesi anda</h2>
        <div class="TimeScopeIdle"><span></span></div>
        <div class="Timer">
          <div class="day">
            <span class="number">{{ days }}</span>
            <div class="format">{{ wordString.day }}</div>
          </div>
          <div class="spacer">:</div>
          <div class="hours">
            <div class="number">{{ hours | twoDigits }}</div>
            <div class="format">{{ wordString.hours }}</div>
          </div>
          <div class="spacer">:</div> 
          <div class="minutes">
            <div class="number">{{ minutes | twoDigits }}</div>
            <div class="format">{{ wordString.minutes }}</div>
          </div>
          <div class="spacer">:</div>
          <div class="seconds">
            <div class="number">{{ seconds | twoDigits }}</div>
            <div class="format">{{ wordString.seconds }}</div>
          </div>
        </div>
        <!-- <p style="color: darkgrey" v-if="statusType === 'running' || statusType === 'upcoming'">Lagi...</p> -->
      </div>
    </div>
    <div v-else class="userReady">
      <!-- <div class="userFaq">
        <h2>Anda siap untuk memulai ujian?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>
        <h3>Syarat</h3>
        <ul>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
        </ul>
        <h3>Syarat</h3>
        <ol>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
        </ol>
      </div> -->
      <button type="button" @click="startExam">Saya setuju dan memahami semua peraturan yang berlaku</button>
    </div>
  </div>
</template>
<script>
export default {
 name: 'Timer',
 props: ['starttime','endtime','trans'] ,
  data(){
    return{
      timer:"",
      wordString: {},
      start: "",
      end: "",
      interval: "",
      days:"",
      minutes:"",
      hours:"",
      seconds:"",
      message:"",
      statusType:"",
      statusText: "",
    };
  },
  created () {
    this.wordString = JSON.parse(this.trans);
  },
  mounted(){
    this.start = new Date(this.starttime).getTime();
    this.end = new Date(this.endtime).getTime()
    // Update the count down every 1 second
    this.timerCount(this.start,this.end);
    this.interval = setInterval(() => {
        this.timerCount(this.start,this.end);
    }, 1000);
  },
  methods: {
    timerCount(start,end){
        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = start - now;
        var passTime =  end - now;

        if(distance < 0 && passTime < 0){
            this.message = this.wordString.expired;
            this.statusType = "expired";
            this.statusText = this.wordString.status.expired;
            clearInterval(this.interval);
            this.startExam()
            return;

        }else if(distance < 0 && passTime > 0){
            this.calcTime(passTime);
            this.message = this.wordString.running;
            this.statusType = "running";
            this.statusText = this.wordString.status.running;

        } else if( distance > 0 && passTime > 0 ){
            this.calcTime(distance); 
            this.message = this.wordString.upcoming;
            this.statusType = "upcoming";
            this.statusText = this.wordString.status.upcoming;
        }
    },
    calcTime(dist){
      // Time calculations for days, hours, minutes and seconds
      this.days = Math.floor(dist / (1000 * 60 * 60 * 24));
      this.hours = Math.floor((dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      this.minutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60));
      this.seconds = Math.floor((dist % (1000 * 60)) / 1000);
    },
    startExam() {
      localStorage.setItem('stateStart', JSON.stringify(true))
      localStorage.setItem('dataIndex', 1)
      this.$router.push('/')
    },
    // Finish exam
    async finished() {
      this.loader = true
      await this.$axios.post(`beasiswa/public/api/cat/end`, {
        state: 'stop'
      })
      .then((response) => {
        this.loader = false
        if(response.data.status === 'success') {
          localStorage.setItem('stateFinished', JSON.stringify(response.data))
          this.$router.push('/finished')
        }
      })
      .catch((error)=>{
        this.loader = false
      })
    }
  },
  filters: {
    twoDigits(value) {
        if ( value.toString().length <= 1 ) {
            return '0'+value.toString()
        }
        return value.toString()
    }
  }
}
</script>
<style lang="scss">
.userReady {
  padding: 20px;
  .userFaq {
    position: relative;
    width: 75%;
    height: 50vh;
    overflow: auto;
  }
  h2 {
    font-size: 30px;
  }
  button {
    background-color: green;
    border: 1px solid green;
    outline: none;
    padding: 20px 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
  }
}
</style>