<template>
  <fullscreen ref="fullscreen" @change="fullscreenChange" class="b">
    <div class="btn-fullscreen" @click="toggle"><img title="Lihat layar penuh" src="~/static/fullscreen.png"> </div>
    <div class="bHeader">
      <div class="bContainer">
        <div class="bHeaderWrapper">
          <div class="bHeaderLeft">
            <!-- <h1>Test Online</h1>
            <span>Test aja dulu</span> -->
            <img class="logo" src="~/static/wonogiri.png">
          </div>
          <div class="bHeaderRight">
            <div class="userDetail">
              <div class="user">
                <div>Nama:</div>
                <div><b>{{user.name}}</b></div>
              </div>
              <div class="user">
                <div>Nomor Ujian:</div>
                <div><b>{{user.testNumber}}</b></div>
              </div>
              <div class="user">
                <div>Waktu Ujian:</div>
                <div><b>{{userSession.startedTime | moment('HH:mm')}} - {{userSession.endedTime | moment('HH:mm')}}</b></div>
              </div>
               <div class="user">
                <div>Waktu Saat ini:</div>
                <div><b>{{currentTime}}</b></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="bContent">
      <div class="bContainer">
        <!-- {{userSession.currentTime}}
        <br>{{userSession.startedTime}}, {{userSession.endedTime}} -->
        <TimerIdle 
           :starttime="userSession.startedTime" 
           :endtime="userSession.startedTime" 
           trans='{  
           "day":"Hari",
           "hours":"Jam",
           "minutes":"Menit",
           "seconds":"Detik",
           "expired":"Event has been expired.",
           "running":"Till the end of event.",
           "upcoming":"Till start of event.",
           "status": {
              "expired":"Berakhir",
              "running":"Berjalan",
              "upcoming":"Menungu"
             }}'
           ></TimerIdle>
    </div>
    </div>
  </fullscreen>
</template>

<script>
import moment from 'moment'
import TimerIdle from '@/components/TimerIdle'
import Fullscreen from "vue-fullscreen/src/component.vue"
export default {
  middleware: ['idle', 'protectedIdle', 'finished'],
  components: {
    TimerIdle,  Fullscreen
  },
  data() {
    return {
      currentTime: null,
      fullscreen: false,
      user: {
        name: null,
        testNumber: null
      },
      userSession: {
        userCurrentTime: null,
        startedTime: null,
        endedTime: null
      }
    }
  },
  created() {
    this.reloadTime()
    this.currentTime = moment().format( 'HH:mm:ss');
      setInterval(() => (this.updateCurrentTime() - 1) * 1000);

    const dataClient = JSON.parse(localStorage.getItem('dataClient'))
    if(dataClient) {
      this.user.name = dataClient.name
      this.user.testNumber = dataClient.test_number
      this.userSession.currentTime = moment(dataClient.server_time).format("YYYY-MM-DD HH:mm:ss")
      this.userSession.startedTime = moment(dataClient.exam_started_at.date).format("YYYY-MM-DD HH:mm:ss")
      this.userSession.endedTime = moment(dataClient.exam_ended_at.date).format("YYYY-MM-DD HH:mm:ss")
    }
  },
  methods: {
     // Check/Update Current Time
    async updateCurrentTime() {
      this.currentTime = moment().format( 'HH:mm:ss');
    },
    // Toggle Fullscreen
    async toggle () {
      this.$refs['fullscreen'].toggle()
    },
    // Toggle Fullscreen
    async fullscreenChange (fullscreen) {
      this.fullscreen = fullscreen
    },
    // Reload Time when API BE is change
    async reloadTime() {
      this.loader = true
      await this.$axios.$get(`web-api/public/api/cat/info`, {
        pin: this.pin,
        email: this.email,
        // password: this.password
      })
      .then((response) => {
        this.loader = false
        if(response.status !== 'failed') {
          localStorage.setItem('dataClient', JSON.stringify(response.data))
        }
      })
      .catch((error)=>{
        this.loader = false
      })
    },
  }
}
</script>

<style lang="scss">
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.apps {
  position: relative;
}
.logo {
  max-width: 200px;
  img {
    width: 100%;
  }
}
.btn-fullscreen {
  background-color: rgba(30, 30, 30, 0.21);
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 12;
  padding: 0;
  text-align: center;
  outline: none;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  &:hover {
    background-color: #fff;
  }
  img {
    max-width: 50px;
  }
}
.idleTime{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 50px 20px!important;
  font-size: 30px!important;
  h2 {
    color: darkgrey;
  }
    .UserScope {
      text-align: center;
      color: #f3f3f3;
      padding-top: 5px;
      padding-bottom: 3px;
      background: #e93737;
      border-radius: 3px;
      font-size: 14px;
      text-transform: uppercase;
      span {
        animation: blinker 1.5s linear infinite;
      }
    }
    .userDetail {
      position: relative;
      padding: 20px;
      background: rgba(30, 30, 30, 0.21);
      border-radius: 3px;
      margin-right: 10px;
      color: #fff;
      // border-top-right-radius: 50px;
      .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          margin: 0 15px;
          padding: 5.5px 0;
          &:first-child {
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }
    .TimeScope {
      text-align: center;
      color: #f3f3f3;
      padding-top: 5px;
      padding-bottom: 3px;
      background: #e93737;
      border-radius: 3px;
      font-size: 14px;
      text-transform: uppercase;
      span {
        animation: blinker 1.5s linear infinite;
      }
    }
    .Timer {
      max-width: 550px;
      margin: auto;
      color: #fff;
      font-size: 50px;
      line-height: 2;
      padding: 0 30px;
      background-color: green;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      text-align: center;
      border-radius: 4px;
      .day, .hours, .minutes, .spacer {
        margin-right: 10px;
      }
      .format {
        font-size: 30px;
        padding-bottom: 10px
      }
    }
}
.b {
  position: relative;
  background: #fff!important;
  &Container {
    padding: 0 15px;
  }
  &Header {
    background-color: #5e3172;
  }
  &HeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  &HeaderLeft {
    h1 {
      color: #fff;
      font-size: 20px;
      margin: 0;
      letter-spacing: 2px;
    }
    span {
      color: #f2f2f2;
    }
  }
  &HeaderRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    .UserScope {
      text-align: center;
      color: #f3f3f3;
      padding-top: 5px;
      padding-bottom: 3px;
      background: #e93737;
      border-radius: 3px;
      font-size: 14px;
      text-transform: uppercase;
      span {
        animation: blinker 1.5s linear infinite;
      }
    }
    .userDetail {
      position: relative;
      padding: 20px;
      background: rgba(30, 30, 30, 0.21);
      border-radius: 3px;
      margin-right: 10px;
      color: #fff;
      // border-top-right-radius: 50px;
      .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          margin: 0 15px;
          padding: 5.5px 0;
          &:first-child {
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }
    .TimeScope {
      text-align: center;
      color: #f3f3f3;
      padding-top: 5px;
      padding-bottom: 3px;
      background: #e93737;
      border-radius: 3px;
      font-size: 14px;
      text-transform: uppercase;
      span {
        animation: blinker 1.5s linear infinite;
      }
    }
    .Timer {
      color: #fff;
      font-size: 30px;
      line-height: 2;
      padding: 0 30px;
      background-color: rgba(30, 30, 30, 0.21);
      display: flex;
      justify-content: space-between;
      // align-items: center;
      text-align: center;
      .hours, .minutes, .spacer {
        margin-right: 10px;
      }
      .format {
        font-size: 10px;
        padding-bottom: 10px
      }
    }
  }
  &Content {
    position: relative;
  } 
  &ContentWrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  } 
  &ContentLeft {
    position: relative;
    float: left;
    width: 75%;
    height: 75vh;
    overflow: auto;
  } 
  &ContenText {
    margin-top: 20px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 1.5;
  }
  &ContentAnswer {
    ol {
      list-style-type: lower-alpha;
    }
  }
  &ContentRight {
    float: right;
    border: 1px solid #eee;
    width: 25%;
    height: 75vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.031);
    // border-top-right-radius: 50px;
    .user {
      padding: 30px;
      background: #e7f1ff;
      border-radius: 3px;
      // border-top-right-radius: 50px;
    }
  } 
  &ContentQuizIndex {
    position: relative;
    padding: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    // max-height: 430px;
    // overflow: auto;
    h3 {
      position: relative;
      margin-top: 0;
      padding-bottom: 10px;
      &::before {
        content: "";
        width: 40px;
        height: 1px;
        background-color: #222;
        position: absolute;
        top: 90%;
        left: 0;
      }
      &::after {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #222;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      li {
        display: inline-block;
        background-color: red;
        color: #fff;
        padding: 15px 20px;
        width: 30px;
        height: 25px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 5px;
        border-radius: 5px;
        text-align: center;
        &.answer {
          background-color: green;
        }
        &.active {
          border: 3px solid blue;
          padding: 12px 17px;
        }
      }
    }
  }
  &Pagination {
    position: relative;
    // bottom: 0;
    // left: 0;
    // right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .prev, .next {
      background-color: green;
      padding: 5px 25px;
      color: #fff;
      margin-right: 20px;
      border-radius: 30px;
      cursor: pointer;
    }
  }
  &ContentQuiz {
    h2 {
      position: relative;
      padding: 10px 0;
      margin: 0;
      // &::before {
      //   content: "";
      //   width: 40px;
      //   height: 1px;
      //   background-color: #222;
      //   position: absolute;
      //   top: 90%;
      //   left: 0;
      // }
      // &::after {
      //   content: "";
      //   width: 20px;
      //   height: 1px;
      //   background-color: #222;
      //   position: absolute;
      //   top: 100%;
      //   left: 0;
      // }
    }
    h3 {
      font-size: 16px;
      padding-right: 20px;
    }
  }
}
.upcoming {
  color: darkgrey;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}
.running {
  color: green;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}
.expired {
  color: red;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}
.finished-info {
  font-size: 12px;
  padding: 10px;
}
.btn-finished {
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 10px;
  outline: none;
  border: 1px solid green;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: rgba(128, 128, 128, 0.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(128, 128, 128, 0.1);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(128, 128, 128, 0.8);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(128, 128, 128, 0.8);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(128, 128, 128, 0.8);
}
</style>
