<template>
  <div class="l">
    <div class="login">
      <div class="lCenter">
        <h2>Login</h2>
        <img class="logo" src="@/static/wonogiri.png">
      </div>
      <div class="loginWrapper">
        <form class="loginForm" @submit.prevent="login">
          <div class="input">
            <input type="text" v-model="pin" class="inputName" placeholder="Pin">
          </div>
          <div class="input">
            <input type="email" v-model="email" class="inputName" placeholder="Email">
          </div>
          <!-- <div class="input">
            <input type="password" v-model="password" class="inputName" placeholder="Password">
          </div> -->
          <div class="input">
            <button type="submit" class="inputName btnLogin">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div v-if="loader" class="loader" @click="closeLoader">
      <div class="loaderText">
        Tunggu sebentar..
      </div>
    </div>
    <div v-if="dialog" class="dialog" @click="closeDialog">
      <div class="dialogModal">
        <h2>{{notif.status}}</h2>
        <p v-html="notif.message"></p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  middleware: 'protectedLogin',
  data() {
    return {
      loader: false,
      email: '',
      password: '',
      pin: '',
      dialog: false,
      notif: {
        status: '',
        message: '',
      },
    }
  },
  methods: {
    // Get Questions
    async getExam() {
      this.loader = true
      await this.$axios.$post(`web-api/public/api/cat/start`)
      .then((response) => {
        this.loader = false
        if(response.status !== 'failed') {
          this.questions = response.data.questions
          this.examList = true
          this.getCurrentAnswer()
        } else {
          this.dialog = true
        }
      })
      .catch((error)=>{
        this.loader = false
        this.dialog = true
      })
    },

    async login() {
      this.loader = true
      await this.$axios.$post(`web-api/public/api/login`, {
        pin: this.pin,
        email: this.email,
        // password: this.password
      })
      .then((response) => {
        this.loader = false
        this.notif.status = response.status
        this.notif.message = response.message
        if(response.status !== 'failed') {
          this.dialog = true
          localStorage.setItem('dataToken', JSON.stringify(response.data.token))
          localStorage.setItem('dataClient', JSON.stringify(response.data))
          setTimeout(() => {
            this.dialog = false
            this.$router.push('/idle');
          }, 1000)
        } else {
          this.dialog = true
        }
      })
      .catch((error)=>{
        this.loader = false
        this.dialog = true
        this.notif.status = error.status
        this.notif.message = error.response.ip +' '+ error.message
      })
    },
    async closeLoader() {
      this.loader = false
    },
    async closeDialog() {
      this.dialog = false
    }
  }
}
</script>

<style lang="scss">
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.l {
  max-width: 400px;
  margin: auto;
  &Center {
    text-align: center;
  }
  &ogin {
    margin-top: 100px;
    .logo {
      max-width: 200px;
    }
  }
  &oginWrapper {
    padding: 20px;
  }
  &oginForm {
    .input {
      margin: 15px 0;
      width: 100%;
      .inputName {
        width: 100%;
        font-size: 18px;
        line-height: 3.5;
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        outline: none;
        border-radius: 3px;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        &:focus {
          border: 1px solid #999;
        }
        &.btnLogin {
          background-color: #5e3172;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
.dialog, .loader {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  color: #222;
  &Modal, &Text {
    min-width: 300px;
    max-width: 500px;
    background: #fff;
    padding: 1.2rem;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 3px;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
</style>
